@import "compass/css3";

table {
  table-layout: fixed;
  border-collapse: collapse;
  font-family: 'Arial';
  margin: 25px auto;
  border: 1px solid #eee;
  border-bottom: 3px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 50px rgba(0,0,0,0.3);
}

tr {
     &:hover {
      background: #f4f4f4;
      td {
        color: #555;
      }
  }
}

th, td {
    color: black;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }

tbody tr:nth-child(odd) {
  background-color:   #ffcccc;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  font-family: 'Rock Salt';
  background: #00cccc;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  text-transform: uppercase;
  color: #666;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  &.last {
      border-right: none;
  }
}

